<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dynamic transition</title>
</head>
<body>
<div id="dynamic-fade">
    Fade in: <input type="range" v-model="fadeInDuration" min="0" :max="maxFadeDuration">
    Fade out: <input type="range" v-model="fadeOutDuration" min="0" :max="maxFadeDuration">
    <transition
        :css="false"
        :before-enter="beforeEnter"
        :enter="enter"
        :leave="leave"
    >
        <p v-if="show">dynamic transition</p>
    </transition>
    <button @click="stop = true">Stop it</button>
</div>
<script src="library/vue.js"></script>
<script src="library/velocity.js"></script>
<script>
    new Vue({
        el: "#dynamic-fade",
        data: {
            show: true,
            fadeInDuration: 1000,
            fadeOutDuration: 1000,
            maxFadeDuration: 1500,
            stop: false
        },
        mounted: function() {
            this.show = false;
        },
        methods: {
            beforeEnter: function(el) {
                el.style.opacity = 0;
            },
            enter: function(el, done) {
                var vm = this;
                Velocity(
                        el,
                        {opactiy: 1},
                        {
                            duration: this.fadeInDuration,
                            complete: function() {
                                done();
                                if( !vm.stop ) {
                                    vm.show = false;
                                }
                            }
                        }
                )
            },
            leave: function(el, done) {
                var vm = this;
                Velocity(
                        el,
                        {opacity: 0},
                        {
                            duration: this.fadeOutDuration,
                            complete: function() {
                                done();
                                vm.show = true;
                            }
                        }
                )
            }
        }
    })
</script>
</body>
</html>